
body{
font-family: "texgyreherosregular", "Arial";
}

.title{
    font-family: "texgyreherositalics", "Arial";
    font-weight: lighter;
    text-align: center;
    margin-top: -10px;
    position: relative;
    top: 25px;
    
}
#main {
    font-size: 50px;
    height: 150px;
    width:150px;
    border-radius: 200px;
    border: solid rgba(0,0,0,1) 2px;
    background: transparent;  
    transition: all 0.2s ease-in-out;
    margin: 0px 10px;
}
#buttoncontainer{
    position: absolute;
    height: 180px;
    width: 519px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;     
}
#main:hover{
    background: black;
    color: white;
}
#main:active {
    border: solid 3px blue;
}
*:focus {
    outline: 0;
}
.des{
    position: absolute;
    bottom: 50px;
    left: 0px;;
    right: 0px;
    height: 10px;
    width: 510px;
    margin: auto;
}
.hide{
    display: none;
}